@media all and (min-width: 768px) and (max-width: 1023px)
{
	#conteneur
	{
		background-color: #F2F2F2;
		border: 0px solid black;
		border-radius: 35px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: center;
		flex-basis: 100%;
		max-width: 1024px;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 25px;
		margin-bottom: 3vw;
		order:2;
	}



	h3{
		   font-size: 1.4em;
	}

	.contient{
		font-size: 1.3em;
	}

	.biere{
		font-size: 1.4;
	}

	.nav3{
		width: 150px;
	}

	.li{
		width: 150px;
		text-align:center;
	}

	#navigation
	{
		justify-content: center;
		margin: 0px;
		justify-content: space-evenly;
		margin-right: 30px;
		width: 450px;
	}

	.filtres
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-left: 25px;
		width: 90%;
		margin-top:15px;
		margin-bottom:15px;
		text-align: center;
		font-weight: bold;
	}

	.search
	{
		border: 2px solid #F2F2F2;
		padding-left: 0px;
		padding-right: 0px;
		border-radius: 15px;
		margin-left: 25px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	#sarticle
	{
		display: flex;
		flex-flow: column wrap;
		flex-basis: 100%;
		margin-left: 0px;

		margin-bottom:20px;
	}

	.picture{
		width: 220px;
    	height: 185px;
    	margin-right:10px;
	}

	.popul
	{
		width: 100%;
		margin-bottom: 0px;
		font-size: 1.2em;
	}

	.Titreblock
	{
		padding-left: 25px;
		font-size: 1.2em;
		margin-bottom: 1.2vh;
	}
	.article3
	{
		background-color: white;
		border: 3px solid white;
		border-radius: 25px;
		height: 185px;
		width: 95%;
		box-shadow: 3px 3px 15px grey;
		margin-bottom: 40px;
		margin-top: 30px;
		margin-left: 0px;
	}

	.upic
	{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.TitrePop
{
	display: flex;
	width: 90%;
	justify-content: space-between;
	padding-left: 30px;
	padding-right:15px;
}
	

	.article2
	{
		background-color: white;
		border: 3px solid white;
		border-radius: 25px;
		height: 185px;
		width: 95%;
		box-shadow: 3px 3px 15px grey;
		margin-top: 28px;
		margin-left: 0px;
		   margin-bottom: 0px;

	}

	.article1
	{
		background-color: white;
		border: 3px solid white;
		border-radius: 25px;
		height: 185px;
		width: 95%;
		box-shadow: 3px 3px 15px grey;
		margin-top: 40px;
		margin-left: 0px;
	}

	.image
	{
		border: 3px solid white;
		border-radius: 35px;
		margin: 20px;
		width: 450px;
		height: 300px;
		min-width: 250px;
		box-shadow: 3px 3px 15px #bfbfbf;
	}

	.Textepic
	{
		position: absolute;
		bottom: 5px;
		border: 0px solid yellow;
		left: 20px;
		background-color: white;
		border-radius: 0px 0px 25px 25px;
		display: flex;
		flex-direction: column;
		padding-bottom: 8px;
		padding-left: 18px;
		padding-right: 0px;
		padding-top: 8px;
		margin-right:1px;
		width: 438px;
	}

	.Textepic2
	{
		position: absolute;
		bottom: 5px;
		border: 0px solid black;
		left: 20px;
		background-color: white;
		border-radius: 0px 0px 25px 25px;
		display: flex;
		flex-direction: column;
		padding-bottom: 8px;
		padding-left: 18px;
		padding-right: 0px;
		padding-top: 8px;
		width: 438px;
	}

	.Textepic4
	{
		position: absolute;
		bottom: 5px;
		border: 0px solid black;
		left: 20px;
		width: 438px;
		background-color: white;
		border-radius: 0px 0px 25px 25px;
		display: flex;
		flex-direction: column;
		padding-bottom: 8px;
		padding-left: 18px;
		padding-right: 0px;
		padding-top: 8px;
	}

	.Textepic5
	{
		position: absolute;
		bottom: 5px;
		border: 0px solid black;
		left: 20px;
		background-color: white;
		border-radius: 2px 0px 25px 25px;
		display: flex;
		flex-direction: column;
		padding-bottom: 8px;
		padding-left: 18px;
		padding-right: 0px;
		padding-top: 8px;
		width: 438px;
	}

	.Textepic6
	{
		position: absolute;
		bottom: 5px;
		border: 0px solid black;
		left: 20px;
		background-color: white;
		border-radius: 0px 0px 25px 25px;
		display: flex;
		flex-direction: column;
		padding-bottom: 8px;
		padding-left: 18px;
		padding-right: 0px;
		padding-top: 8px;
		width: 438px;
	}

	.Textepic3
	{
		position: absolute;
		bottom: 5px;
		border: 0px solid blue;
		left: 20px;
		background-color: white;
		border-radius: 0px 0px 25px 25px;
		display: flex;
		flex-direction: column;
		padding-bottom: 8px;
		padding-left: 18px;
		padding-right: 1px;
		padding-top: 8px;
		width: 438px;
	}


	.firstact
	{
		margin-bottom: 40px;

	}

	.fifthact
	{
		margin-bottom: 00px;
	}

	.fourthact
	{
		margin-bottom: 00px;
	}

	#footer
	{
		margin-top: 0px;
	}

	#blockparent
	{
		background-color: white;
		justify-content: space-around;
	}
	.activites
	{
		height: 1330px;
	}

	.alldownpic
	{
		display:none;
	}


	.inside2
	{
		border: 0px solid black;
		border-radius: 25px;
		background-color: white;
		height: 295px;
		box-shadow: 3px 3px 15px grey;
		width: 350px;
	}

	.inside3
	{
		border: 0px solid black;
		border-radius: 25px;
		background-color: white;
		height: 230px;
		margin-top: 65px;
		box-shadow: 3px 3px 15px grey;
		width: 350px;
	}

	.inside4
	{
		border: 0px solid black;
		border-radius: 25px;
		background-color: white;
		height: 235px;
		box-shadow: 3px 3px 15px grey;
		margin-top: 20px;
		width: 350px;
	}

	.inside5
	{
		border: 0px solid black;
		border-radius: 25px;
		background-color: white;
		height: 270px;
		width: 350px;
		margin-top: 60px;
		box-shadow: 3px 3px 15px grey;
	}

	.inside {
    border: 0px solid black;
    border-radius: 25px;
    background-color: white;
    height: 590px;
    width: 350px;
    box-shadow: 3px 3px 15px grey;
}

.texteimage {
    font-size: 1.1em;
}
.texteimage2{
    font-size: 1.1em;
}
.texteimage3{
    font-size: 1.1em;
}

	.filtre
	{
		margin-bottom: 10px;
	}

	.texteinside
	{
		padding-top: 10px;
	}

	.description3{
		padding-left:12px;
	}

	.star
{
	padding-top: 45px;
	font-size: 1.3em;
}

p{
	font-size: 1.3em;
}


	