@media screen and (max-width: 767px)
{
	body{
		width: 100%;
		
	}
	#conteneur
	{
		
		width: 100%;
		margin: auto;
		justify-content: space-around;
		background-color: white;
		order: 2;
		flex-basis: 100%;
	}





	#sarticle
	{
		
		width: 100%;
		margin: auto;
		height: auto;
		flex-basis:100%;
		justify-content: space-around;
		margin-bottom: 5px;
		margin-top: 25px;
		border-radius: 0px;
		padding-bottom: 50px;
		padding-right: 0px;
		padding-left: 0px;
	}

	.logosearch
{
	background-color: #F2F2F2;
	padding-left: 0px;
	font-size: 1.4em;
	display: flex;
	border: 0px solid white;
	border-radius: 12px 0px 0px 12px;
	padding: 12px 21px 12px 21px;
	margin:0px;
}
	
	.search
{
	border: 2px solid #F2F2F2;
	width: 95%;
	padding-left: 0px;
	padding-right: 0px;
	border-radius: 15px;
	margin-left: 0px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
	.btn 
	{
		background-color: #0065FC;
		padding: 12px 21px 12px 21px;
		border: 0px solid black;
		border-radius: 0px 15px 15px 0px;
		margin: 0px;
		font-weight: bold;
		font-size: 1em;
		color: white;
		display:none;
	}

	.btn:hover
	{
		background-color: #4791ff;
		color: white;
	}

.button
{
	background-color: #0065FC;
	padding: 14px 21px 14px 21px;
	border: 0px solid black;
	border-radius: 0px 15px 15px 0px;
	margin: 0px;
	font-weight: bold;
	font-size: 1em;
	color: white;
	display:block;
}

	.asidetop
{
	background-color: white;
	padding-left: 0px;
}


	.button:hover
	{
		background-color: #4791ff;
		color: white;
	}

		.picture
	{	
		border: 0px solid black;
		border-radius: 22px 0 0 22px;
		width: 120px;	
		height: 150px;
		object-fit: cover;
		margin-right: 10px;
		
	}

	.upic{
		order:1;

	}
	.article1
	{
		width: 90vw;
		height:150px;
		margin: 0;
		margin-top: 1.8vh;

		
		order:0;}
	

	.article2
	{
		width: 90vw;
		margin: auto;
		margin-top: 1.8vh;
		height:150px;
	}

	.article3
	{
		width: 90vw;
		margin: auto;
		margin-top: 1.8vh;
		height:150px;
	}

	.titrefiltre
	{
		width: 100%;
		padding-bottom: 10px;
		padding-top: 20px;
		font-size:1.2em;
	}

	.filtre
	{
		margin-bottom: 10px;
		margin-right: 0px;
	}

	#recherchebar
	{
		width: 100%;
		display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	}



	.apropos{
		padding:3vw 0vw 3vw 8vw;
	}

	.TitrePop
	{
		display: flex;
		width: 90%;
		max-width: 788px;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-left: 50px;
		margin-bottom: 15px;
	}

	#recherche
{
	text-decoration: none;
	border: none;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px;
	font-weight: bold;
	font-size: 1em;
}

	.filtres
	{
		width: 92%;
		margin: 20px 20px 20px 20px;	
	}

	.info
	{
		margin: 0px;
		padding:0px;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-around;
		font-size: 1em;
		width: 95%;
		margin-left: 10px;
	}

	.firstact
	{
		margin-bottom: 30px;

		width: 94%;
		max-width: 800px;
		height: auto;
		
	}

	.secact
	{
		margin-bottom: 30px;
		width: 94%;
		max-width: 800px;
		height: auto;
	}

	.fourthact
	{
		margin-bottom: 30px;
		width: 94%;
		max-width: 800px;
		height: 100px;
	}

	.fifthact
	{
		margin-bottom: 30px;
		width: 94%;
		max-width: 800px;
		height: 100px;
		margin-top: 122px;
	}

	#footer
	{
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 0px;
		padding: 0px;
	}

	

		.inside2
	{
		border: 0px solid black;
		border-radius: 25px;
		background-color: white;
		height: auto;
		box-shadow: 3px 3px 15px grey;
	}

	.inside3
	{
		border: 0px solid black;
		border-radius: 25px;
		background-color: white;
		height: auto;
		margin-top: 30px;
		box-shadow: 3px 3px 15px grey;

	}


	.inside4
	{
		border: 0px solid black;
		border-radius: 25px;
		background-color: white;
		height: auto;
		box-shadow: 3px 3px 15px grey;
	}

	.inside5
	{
		border: 0px solid black;
		border-radius: 25px;
		background-color: white;
		height: auto;
		margin-top: 30px;
		box-shadow: 3px 3px 15px grey;
	}

	.inside
	{
		border: 0px solid black;
		border-radius: 25px;
		background-color: white;
		height: auto;
		box-shadow: 3px 3px 15px grey;
	}

	.activites
	{
		height: 100%;
		min-height: 1650px;
	}

	.lap
	{
		font-size: 1.2em;
		color: black;
	}

	.lap1
	{
		font-size: 1.2em;
		color: black;
	}

	.texteinside
	{
		padding-left: 125px;
		padding-top: 1.8vw;
		height: 10vh;
    	width: 54vw;
	}

	.ulli
	{
		text-decoration: none;
		color: black;
	}

	.ulli:hover
	{
		color: #0065FC;
	}

	.image
	{
		border: 3px solid white;
		border-radius: 35px;
		margin: 0px;
		width: 93vw;
		height: 225px;
		box-shadow: 3px 3px 15px #bfbfbf;
	}

	.Textepic
	{
		position: absolute;
		bottom: 5px;
		border: 0px solid yellow;
		left: 0px;
		background-color: white;
		border-radius: 0px 0px 25px 25px;
		display: flex;
		flex-direction: column;
		padding-bottom: 8px;
		padding-left: 4vw;
		padding-right: 0px;
		padding-top: 8px;
		margin-right:-8px;
		width: 90vw;
	}

	.Textepic2
	{
		position: absolute;
		bottom: 5px;
		border: 0px solid black;
		left: 0px;
		background-color: white;
		border-radius: 0px 0px 25px 25px;
		display: flex;
		flex-direction: column;
		padding-bottom: 8px;
		padding-left: 4vw;
		padding-right: 0px;
		padding-top: 8px;
		width: 90vw;
	}

	.Textepic4
	{
		position: absolute;
		bottom: 5px;
		border: 0px solid black;
		left: 0px;
		width: 90vw;
		background-color: white;
		border-radius: 0px 0px 25px 25px;
		display: flex;
		flex-direction: column;
		padding-bottom: 8px;
		padding-left: 4vw;
		padding-right: 0px;
		padding-top: 8px;
	}

	.Textepic5
	{
		position: absolute;
		bottom: 5px;
		border: 0px solid black;
		left: 0px;
		background-color: white;
		border-radius: 2px 0px 25px 25px;
		display: flex;
		flex-direction: column;
		padding-bottom: 8px;
		padding-left: 4vw;
		padding-right: 0px;
		padding-top: 8px;
		width: 90vw;
	}

	.Textepic6
	{
		position: absolute;
		bottom: 5px;
		border: 0px solid black;
		left: 0px;
		background-color: white;
		border-radius: 0px 0px 25px 25px;
		display: flex;
		flex-direction: column;
		padding-bottom: 8px;
		padding-left: 4vw;
		padding-right: 0px;
		padding-top: 8px;
		width: 90vw;
	}

	.Textepic3
	{
		position: absolute;
		bottom: 5px;
		border: 0px solid blue;
		left: 0px;
		background-color: white;
		border-radius: 0px 0px 25px 25px;
		display: flex;
		flex-direction: column;
		padding-bottom: 8px;
		padding-left: 4vw;
		padding-right: 0px;
		padding-top: 8px;
		width: 90vw;
	}

	h1{
		font-size: 1.4em;
	}

		.afficherplus
	{
		text-decoration: none;
		color: black;
		padding-left: 8px;
	}

	.activites
	{
		margin-top: 30px;
	}

	.main1
	{
		padding-top: 15px;

	}
	.main{  
		margin-bottom:20px;
	}

	.article
	{
		width:100%
	}

	.TitrePop
	{
		padding-left: 15px;
	}

	.logofirst
	{
		width: 130px;
    	height: 65px;
	}

	.nav1 
	{
		position: absolute;
		top: 36px;
		right: 4vw;
	}

	.logo
	{
		margin-top: 0px;
		margin-left: 15px;
		padding: 0px;
	}

	.nav2
	{
		border-top: none;
		margin-bottom: 10vw;
		margin: 0px;
		padding-top: 1.5vh;
		padding-bottom: 2vh;
		text-align: center;
		position: absolute;
		margin-top: 1vh;
		left:0px;
		top: 70px;
		width: 50%;
		order: 0;
	}

	.nav3
	{
		border-top: none;
		margin-top: 1vh;
		margin-bottom: 20vw;
		padding-top: 1.5vh;
		padding-left: 0px;
		padding-right: 00px;
		padding-bottom: 2vh;
		position: absolute;
		text-align: center;
		left:50vw;
		top: 70px;
		width: 50%;		
	}

	ul li a.active
	{
		border-bottom: 4px solid #0065FC; 
		border-top: 0px solid black;
		margin-left: 0px;
		order: 2;
		padding-left:0px;
		padding-right:0px;
		
	}

	ul li a.active1
	{
		border-bottom: 4px solid #F2F2F2; 
		border-top: 0px solid black;
		margin-left: 0px;
		order: 1;
		padding-left:0px;
		padding-right:0px;
	}

	.active:active
	{
		border-bottom: 4px solid #F2F2F2; 
		border-top: 0px solid black;
		padding-left:0px;
		padding-right:0px;
	}

	.active1:hover
	{
		border-bottom: 4px solid #F2F2F2; 
		border-top: 0px solid black;
		padding-left:0px;
		padding-right:0px;
	}

	.active1:active
	{
		border-bottom: 4px solid #0065FC;
		padding-left:0px;
		padding-right:0px;
	}

	#navigation
	{
		justify-content: center;
		margin: 0px;
		justify-content: flex-start;
		width: 20px;
	}

	.fondecran
	{
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 175px;
		background-repeat: no-repeat;
	}

	.fondecran2
	{
		background-size: cover no-repeat;
		width: 100%;
		height: 175px;
	}

	.fondecran5
{
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 175px;
	border: 0px solid black;
	border-radius: 25px 25px 0px 0px;
	margin-bottom: 11px;
}

.fondecran3
{
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 175px;
	border: 0px solid black;
	border-radius: 25px 25px 0px 0px;
	margin-bottom: 7px;
}

.fondecran4
{
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 175px;
	border: 0px solid black;
	border-radius: 25px 25px 0px 0px;
	margin-bottom: 11px;
}

	.alldownpic
	{
		display: none;
	}

	.Titre
	{
		padding: 25px;
		padding-top: 0px;
		margin-top: 50px;
		background-color: white;
	}


	.description
	{
		background-color: white;
	}

	#blockparent
	{
		background-color: white;
		width: 100%;
		margin-left: 0px;
	}

	.blockFull{
		margin-bottom: 2vh;
	}

	h3
{
	font-size: 1.2em;
}

.texteimage{
	font-size: 1em;
    margin-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.texteimage2{
	font-size: 1em;
    margin-bottom: 12px;
}

.texteimage3{
	font-size: 1em;
    margin-bottom: 12px;
}
	.star{
		font-size: 1.1em;
		padding-top:8px;

	}

	.lap2{
		padding-bottom: 8vh;
	}

