@media all and (min-width: 1024px) and (max-width: 1537px)
{
	
	#conteneur
	{
		background-color: #F2F2F2;
		border: 0px solid black;
		border-radius: 35px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: center;
		flex-basis: 100%;
		width: 100%;
		max-width: 1500px;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 25px;
		margin-bottom: 3vh;
	}




	.filtres
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-left: 25px;
		width: 90%;
		margin-top:15px;
		margin-bottom:15px;
		text-align: center;
		font-weight: bold;
	}

	.description
{
	padding-top: 15px;
	padding-left: 25px;
	padding-bottom: 15px;
	border: 0px solid black;
	border-radius: 0px 0px 25px 25px;
}


	.alldownpic
{
	border: 0px solid black;
	border-radius: 22px 22px 0 0;
	padding: 0px;
	margin: 0px;
}

	.search
	{
		border: 2px solid #F2F2F2;
		padding-left: 0px;
		padding-right: 0px;
		border-radius: 15px;
		margin-left: 25px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	#navigation
	{
		justify-content: center;
		margin: 0px;
		justify-content: space-evenly;
		margin-right: 30px;
		width: 450px;
	}

	.contient{
		font-size: 1.3em;
	}

	p{
		font-size: 1.1vw;
	}

	.picture{
		width: 220px;
    	height: 185px;
	}

	#sarticle
	{
		display: flex;
		flex-flow: column wrap;
		flex-basis: 100%;
		margin-left: 0px;
		margin-bottom:0px;
	}




	.popul
	{
		width: 100%;
		margin-bottom: 0px;
		font-size: 1.2em;
	}

	.article3
	{
		background-color: white;
		border: 3px solid white;
		border-radius: 25px;
		height: 185px;
		width: 95%;
		box-shadow: 3px 3px 15px grey;
		margin-bottom: 40px;
		margin-top: 0px;
		margin-left: 0px;
	}

	p{
		font-size:1.2em;
	}

	.info{
		width: 70%;
	}

	.upic
	{
		width: 100%;
	}

	.article2
	{
		background-color: white;
		border: 3px solid white;
		border-radius: 25px;
		height: 185px;
		width: 95%;
		box-shadow: 3px 3px 15px grey;
		margin-top: 28px;
		margin-left: 0px;

	}

	.article1
	{
		background-color: white;
		border: 3px solid white;
		border-radius: 25px;
		height: 185px;
		width: 95%;
		box-shadow: 3px 3px 15px grey;
		margin-top: 40px;
		margin-left: 0px;
	}

	

	.image
	{
		border: 3px solid white;
		border-radius: 35px;
		margin: 20px;
		width: 450px;
		height: 300px;
		min-width: 250px;
		box-shadow: 3px 3px 15px #bfbfbf;
	}

	.Textepic
	{
		position: absolute;
		bottom: 5px;
		border: 0px solid yellow;
		left: 20px;
		background-color: white;
		border-radius: 0px 0px 25px 25px;
		display: flex;
		flex-direction: column;
		padding-bottom: 8px;
		padding-left: 18px;
		padding-right: 0px;
		padding-top: 8px;
		margin-right:1px;
		width: 438px;
	}

	.Textepic2
	{
		position: absolute;
		bottom: 5px;
		border: 0px solid black;
		left: 20px;
		background-color: white;
		border-radius: 0px 0px 25px 25px;
		display: flex;
		flex-direction: column;
		padding-bottom: 8px;
		padding-left: 18px;
		padding-right: 0px;
		padding-top: 8px;
		width: 438px;
	}

	.Textepic4
	{
		position: absolute;
		bottom: 5px;
		border: 0px solid black;
		left: 20px;
		width: 438px;
		background-color: white;
		border-radius: 0px 0px 25px 25px;
		display: flex;
		flex-direction: column;
		padding-bottom: 8px;
		padding-left: 18px;
		padding-right: 0px;
		padding-top: 8px;
	}

	.Textepic5
	{
		position: absolute;
		bottom: 5px;
		border: 0px solid black;
		left: 20px;
		background-color: white;
		border-radius: 2px 0px 25px 25px;
		display: flex;
		flex-direction: column;
		padding-bottom: 8px;
		padding-left: 18px;
		padding-right: 0px;
		padding-top: 8px;
		width: 438px;
	}

	.Textepic6
	{
		position: absolute;
		bottom: 5px;
		border: 0px solid black;
		left: 20px;
		background-color: white;
		border-radius: 0px 0px 25px 25px;
		display: flex;
		flex-direction: column;
		padding-bottom: 8px;
		padding-left: 18px;
		padding-right: 0px;
		padding-top: 8px;
		width: 438px;
	}

	.Textepic3
	{
		position: absolute;
		bottom: 5px;
		border: 0px solid blue;
		left: 20px;
		background-color: white;
		border-radius: 0px 0px 25px 25px;
		display: flex;
		flex-direction: column;
		padding-bottom: 8px;
		padding-left: 18px;
		padding-right: 1px;
		padding-top: 8px;
		width: 438px;
	}

	


.texteinside
{
	padding-left: 250px;
	padding-top: 20px;
}

#recherche
{
	text-decoration: none;
	border: none;
	padding-left: 0px;
	padding-right: 0px;
	font-weight: bold;
	font-size: 1.1em;
}

.TitrePop
{
	padding-left: 47px;
}

h3
{
	font-size: 1.4em;
	font-weight: bold;
}

h2{
	font-size: 1.6em;
}

.texteimage{
	font-size: 1.1em;
}

.texteimage2{
	font-size: 1.1em;
}

.texteimage3{
	font-size: 1.1em;
}

.star
{
	padding-top: 20px;
	font-size: 1em;
}

	.firstact
	{
		margin-bottom: 40px;
	}

	.fifthact
	{
		margin-bottom: 00px;
	}

	.fourthact
	{
		margin: 00px;
		padding: 0px;
	}

	#footer
	{
		margin-top: 0px;
	}

	#blockparent
	{
		background-color: white;
	}
	.activites
	{
		height: 1330px;
	}

	.star1{
	padding-top: 60px;
}

.star2{
	padding-top: 30px;
}

.star3{
	padding-top: 60px;
}



